<%= form_for(@bundlesticker) do |f| %>
<div>
  <%= f.label :language, t("bundlestickers.language") %></br>
  <%= f.collection_select(:language_id, Language.all,:id, :description, :selected => 1) %>
</div>

<div>
  <%= f.label :neutral, t("bundlestickers.neutral") %></br>
  <%= f.select :neutral , {"Ja" => true, "Nein" => false}, :selected => false %>
</div>

<div>
  <%= f.label :ce, t("bundlestickers.ce") %></br>
  <%= f.select :ce, {"Ja" => true, "Nein" => false}, :selected => false %>
</div>

<div>
  <%= f.label :unique_number, t("bundlestickers.unique_number") %></br>
  <%= f.text_field :unique_number %>
</div>

<div>
<%= f.submit %>
</div>
<% end %>

<% content_for :navigation do %>
 <%= link_to "Zurück", stickers_path, :class => "button" %>
<% end %>


<% content_for :javascript do %>
 window.onload = function(){
  document.getElementById('bundlesticker_unique_number').focus()
 };
<% end %>

