<!DOCTYPE html>
<html>
<head>
  <title>Denso</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
   <%= yield :javascript %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if flash[:notice] %>
  <h1 style="background-color:green;"><%= flash[:notice] %></h1>
 <% end %>
 <% if flash[:error] %>
  <h1 style="background-color:red;"><%= flash[:error] %></h1>
 <% end %>
  <%= yield %>
  <%= yield :navigation %>
  <% if current_user %>
   <%= link_to "#{current_user.login} abmelden", sessions_path, :method => :delete, :class => "button back" %>
  <% end %>
 <% if current_user %>
  <p>Us: <%= current_user.login %> Dr: <%= current_user.try(:printer).description %></p>
 <% end %>
</body>
</html>

